<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Hello Amaze UI</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
  <!--<link rel="stylesheet" href="CLNDR/css/clndr.css">
  <link rel="stylesheet/less" type="text/css" href="CLNDR/css/clndr.less">-->

</head>
<body>
<p>calendar</p>
<div id="calendar" class="am-datepicker-table" style="width:294px;height:248px;">
<script id="myTemplate" type="text/template">
	<table class="am-datepicker-table">
		<thead>
			<tr class='am-datepicker-header'>
				<th class='am-datepicker-prev'><i class="clndr-previous-button am-datepicker-prev-icon"></i></th>
				<th colspan="5" class="am-datepicker-switch month"><div class="am-datepicker-select"><%= month %> <%= year %></div></th>
				<th class='am-datepicker-next'><i class="clndr-next-button am-datepicker-next-icon"></i></th>
			</tr>
		

			<tr>
				<% for(var i = 0; i < daysOfTheWeek.length; i++) { %>
					<td class='am-datepicker-dow'><%= daysOfTheWeek[i] %></td>
				<% } %>
			</tr>

		</thead>

			<% for(var i = 0; i < numberOfRows; i++){ %>
			  <tr>
			  <% for(var j = 0; j < 7; j++){ %>
			  <% var d = j + i * 7; %>
			  <td class='am-datepicker-day <%= days[d].classes %>'><%= days[d].day %></td>
			  <% } %>
			  </tr>
			<% } %>
	</table>
</script>
</script>
</div>


<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="CLNDR/js/moment-2.8.3.js"></script>
<script src="CLNDR/js/clndr.js"></script>
<script>
//$('#calendar').clndr();

$('#calendar').clndr({
	template: $('#myTemplate').html(),
	daysOfTheWeek: ['S', 'M', 'T', 'W', 'T', 'F', 'S']
});
</script>

<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->
</body>
</html>
